.description {
    margin-left: 1rem;
}

.listGroupItem {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    margin-right: 1.7rem;

    color: #707070;
    cursor: pointer;
}
